.tiles {
    margin-top: 10px;
    display: flex;
    gap: 16px;
    flex-direction: row;
}

.tiles > * {
    flex: 1;
}

.tile-group {
    min-width: 0;
}

@media (max-width: 576px) {
    .tiles {
        flex-direction: column;
    }
}

@media (min-width: 577px) and (max-width: 1024px) {
    .tiles {
        flex-direction: row;
    }
}