.group-title {
    font-size: 40px;
    text-decoration: underline;
    text-decoration-thickness: 4px;
    color: var(--primary-color);
    font-weight: 600;
    text-overflow: ellipsis;
    overflow-x: clip;
    white-space: nowrap;
}