.group-title {
    font-size: 34px;
    color: var(--primary-color);
    font-weight: 700;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    min-width: 0;
    min-height: 42px;
    width: 100%;
    
}
