.group-title {
    font-size: 30px;
    text-decoration: underline;
    text-decoration-thickness: 4px;
    color: var(--primary-color);
    font-weight: 600;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    min-width: 0;
    width: 100%;
}